h1 {
  color: #fff;
  font-weight: 600;
  font-size: 125px;
  letter-spacing: 1px;
}
  
#main {
  color: #fff;
  font-size: 60px;
  text-align: center;
  font-weight: 100;
  letter-spacing: 2px;
}

.dialog-off-canvas-main-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
}